*.mp4
colorSamples.txt
simpleExample/hmc.csv
simpleExample/hmcSamps.pdf
simpleExample/isoline.pdf
simpleExample/isoridge.pdf
simpleExample/random.csv
simpleExample/randomSamps.pdf
superpixelExamples/
